/* Corpo */
body {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Header */
#lucky-roll-header {
}

/* Container com Rolagem */
#dice-roller-container {
  flex: 0 0 70%;
  box-sizing: border-box;
  padding: 0 1%;
}

/* Histórico de Rolagem */
#roll-log {
  flex: 0 0 30%;
  box-sizing: border-box;
  margin: 0 1%;
  border: 1px solid black;
  height: 80dvh;
  overflow-y: auto;
  flex-wrap: nowrap;
}

/* Logo do Lucky Roll */
#lucky-roll-logo {
  display: flex;
  width: 10%;
  justify-self: center;
}
