body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: bold;
}

#roll-dices,
.dice-information {
  display: block;
}

.roll-result {
  margin: 0 0 1rem 0;
  padding: 0;
  background-color: rgb(185, 185, 185);
  color: rgb(0, 0, 0);
  border: 3px solid black;
  box-sizing: border-box;
}
